{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}
    <div class="container">
        <h1 style="margin-left: 10px; font-weight: bold;">Edit project</h1>
        <hr>
        <form class="form-control form-control-sm" method="POST" enctype="multipart/form-data">
            {{ render_form(form) }}
            <a style="margin-top: 10px; margin-left: 10px;" href="{{ url_for('delete_project', project_id=project_id['project_id']) }}" class="btn btn-danger">Delete</a>
        </form>
    </div>
{% endblock content %}

